body{
    background-color: aquamarine;
    
}

h1{
    color:chocolate;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Courier New';
}

p{
    color:darkgreen;
    font-size: 20px;
    font-family:Georgia;
}

ul{
    background-color: red;
    color: white;
}

h2{
    font-size: 2.5em;
}